@charset "utf-8";
/* CSS Document */


/* ピンク　#f6babc */
/* みどり　#97b6b8 */
/*　ちゃいろ　#785757 */

/************************************************************/
/*mainvisual*/
/************************************************************/
.mainvisual-wrap{
	position: relative;
}
.mainvisual-main{
	width: 100%;
	height: 100vh;
    overflow: hidden;
    position: relative;
}
.mainvisual-main img{
	height: 100%;
	object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.mainvisual-text{
	z-index: 100;
	position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	width: 100%;
	text-align:center;
}
.mainvisual-text img{
	width: 50%;
	max-width: 500px;
	margin-bottom: 40px;
}
.mainvisual-text p{
	text-align:center; 
	font-size: 2.8rem;
	color: #fff;
	text-shadow: 3px 3px 3px #785757;
}



/************************************************************/
/*news*/
/************************************************************/

#news{
	padding-top: 50px;
}

.news-img{
	margin: 0 auto;
	padding: 0;
	width: 50%;
	max-width:300px;
}

.news-wrap{
	margin: 0 auto 40px;
	max-width: 1000px;
	background-color: #97b6b8;
	border-radius: 0 50px 0 ;
	padding: 40px 30px;
	width: 100%;
}

#news h2.news-title{
	text-align: center;
	font-size: 4.2rem;
	margin-bottom: 15px;
	border-bottom: 2px dashed #fff;
	color: #fff;
}

#news ul{
	background-color: #fff;
	padding: 40px;
	margin-bottom: 10px;
	border-radius: 30px;
}
#news ul li{
	padding: 10px 0;
	border-bottom: 1px dashed #785757;
}
#news ul li:last-child{
	border-bottom: none;
}
#news ul li a:hover{
	text-decoration: underline; 
}
#news ul li date{
	display: block;
}

#news .news-page{
	text-align: right;
}

#news .news-page a{
	color: #fff;
}
#news .news-page a:hover{
	text-decoration: underline; 
}


/************************************************************/
/*event*/
/************************************************************/
.event-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.event-item{
	width:48%;
	margin-bottom: 40px;
}
.event-item p{
	margin-bottom: 40px;
}
.event-item ul{
	margin-bottom: 40px;
}
.event-item ul li{
	margin-bottom: 5px;
}
.event-item img{
	border-radius: 30px;
	height: 350px;
	object-fit: cover;
}

/************************************************************/
/*harvest*/
/************************************************************/

#harvest ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

#harvest ul li {
    width: 24%;
    position: relative;
    overflow: hidden;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #fff;
}
#harvest ul li::before{
    content: "";
    padding-top: 100%;
    display: block;
}
#harvest ul li img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: 0.3s;
}
#harvest ul li img:hover{
    transform: scale(1.3);
}



/************************************************************/
/*shop*/
/************************************************************/
.shop-box{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.shop-item{
	width:48%;
	margin-bottom: 40px;
}
.shop-item p{
	margin-bottom: 40px;
}
.shop-item ul{
	margin-bottom: 40px;
}
.shop-item ul li{
	margin-bottom: 5px;
}
.shop-item img{
	border-radius: 30px;
}

/************************************************************/
/*online*/
/************************************************************/
.online-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}
.online-wrap li{
	width: 32%;
}
.online-rank{
	width:30%;
	margin: 0 auto;
}
.online-text{
	padding: 30px;
	border-radius: 30px;
	background-color: #97b6b8;
	margin-bottom: 40px;
}



/************************************************************/
/*recruit*/
/************************************************************/
.recruit-box{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.rectuit-item{
	width:48%;
	margin-bottom: 40px;
}
.rectuit-item p{
	margin-bottom: 40px;
}
.rectuit-item ul{
	margin-left: 1em;
	margin-bottom: 40px;
}
.rectuit-item ul li{
	list-style-type: circle;
	margin-bottom: 5px;
}
/************************************************************/
/*access*/
/************************************************************/
.access-box{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.access-item{
	width:48%;
	margin-bottom: 40px;
}

.access-item dl{
	display: flex;
	flex-wrap: wrap;
	border: 5px solid #97b6b8;
}
.access-item dl dt{
	width: 35%;
	padding: 40px 10px;
	text-align: center;
	background-color: #97b6b8;
	color: #fff;
}
.access-item dl dd{
	width: 65%;
	padding: 40px 10px;
	background-color: #fff;
	border-bottom: 3px solid #97b6b8;
}
.access-item dl dd:last-child{
	border-bottom: none;
}

.access-item img{
	border-radius: 30px;
}
.access-img{
	margin: 0 auto;
	max-width:500px;
}


/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){

}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){

}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){
	.mainvisual-text p{
		text-align:center; 
		font-size: 2.4rem;
		color: #fff;
		text-shadow: 1px 2px 3px #808080;
	}
	.event-box{
		flex-direction: column;
	}
	.event-item{
		width:100%;
	}
	#harvest ul li {
		width: 48%;
	}
	.shop-box{
		flex-direction: column;
	}
	.shop-item{
		width:100%;
	}
	.recruit-box{
		flex-direction: column-reverse;
	}
	.rectuit-item{
		width:100%;
	}

	.access-box{
		flex-direction: column;
	}
	.access-item{
		width: 100%;
	}
	

	.online-wrap li{
		width: 100%;
	}
}









